.btnActivar {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: #007832;
    padding:  4px;
    border: 1px solid #007832;
}

.buttnAceptar {
    background-color: #007832 !important;
    border: none !important;
    color: white !important;

    border-radius: 6px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.buttnAceptar:hover {
    background-color: #00a04e !important;
    transform: scale(1.05);
    cursor: pointer;
}


.btnActivarTodos {
    background-color: #007832;
    border-radius: 10px;
    color: white;
    padding: 8px;
}