.btn-container {
  display: flex;
}

.btn-container .Btn {
  border: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 12px;
  font-size: 15px;
  background: #e6f4ea;
  color: #2e7d32;

  transition: transform 0.2s ease-in;
}
.btn-container .Btn:hover {
  transform: scale(1.01);
  background: #dcf1e2;
  color: #2e7d32;
}

.btn-container .btnDisabled {
  margin-bottom: 15px;
  margin-top: 10px;
  border: none;
  padding: 11px 40px;
  border-radius: 14px;
  background-color: #02923ea1;
  color: rgb(240, 240, 240);
  transition: transform 0.2s ease-in;
}
.btn-container .btnDisabled:hover {
  transform: scale(1.01);
  background-color: #02923e98;
}

.btnMaxWidth {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.swal-confirm-green {
  background-color: #007832 !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}
