.containerCarnet {
  background-color: #f7f7f7;
  padding: 0 10px;
  border-radius: 10px;

  margin: auto;
}

.infoCarnet {
  background-color: #ffff;
}

.normalText {
  margin-top: 20px;
  font-size: 14px;
  margin: 0;
}

.strong1 {
  color: #007832;
  font-size: 18px;
  font-weight: bold;
}

.strong2 {
  color: #007832;
  font-size: 10px;
}

.SeparatorCarnet {
  margin: 0;
  margin: 10px auto;
  border: 0.2px solid #007832;
}

.btnCloseCarnet {
  border: none;
  padding: 8px 25px;

  border-radius: 12px;
  font-size: 15px;
  background: #e6f4ea;
  color: #2e7d32;
  transition: transform 0.2s ease-in;
}

.btnCloseCarnet:hover {
  background: #bbd4c2;
  color: #2e7d32;
}
