body {
  background: #f8f8fa;
  font-size: 13px;
}
label {
  font-size: 13px;
  font-weight: 700;
}

h1 {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600; /* SemiBold */
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* Contenedor del tooltip */
.p-tooltip {
  border-radius: 6px;
  padding: 6px 10px;
}

/* Texto dentro del tooltip */
.p-tooltip .p-tooltip-text {
  color: #007832 !important;
  font-size: 0.85rem;
  background-color: white !important;
  font-weight: 500;
  letter-spacing: 0.3px;
}
