body {
  background: #f8f8fa;
  font-size: 13px;
}
label {
  font-size: 13px;
  font-weight: 700;
}

h1 {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600; /* SemiBold */
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
