.p-inputtext {
  width: 100%;
  font-size: 13px;
}

.form-control,
.optionItem,
.form-select,
.label {
  font-size: 13px;
}

.p-button {
  background-color: #007832;
  border: none;
}

.input {
  padding: 12px 8px;
  font-size: 15px;
}
