.kpiContainer {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(216, 216, 216);
    font-size: 13px;
    width: 240px;
}

.iconStyle {
    font-size: 20px;
    color: #007832;
    font-weight: bolder;
}

.bigValue {
    padding-top: 2px;
    font-size: 20px;
}



.containerMainDash {

    width: 1000px;
    padding: 13px 0;
    margin-left:  230px;
    background-color: #fffffff1;
    border-radius: 10px;
    
    box-shadow: 0 5px 5px rgb(221, 221, 221);

}

.labelKpi {
    font-size: 12px;
}