.kpiContainer {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;

  font-size: 13px;
}

.iconStyle {
  font-size: 20px;
  color: #007832;
  font-weight: bolder;
}

.bigValue {
  padding-top: 2px;
  font-size: 20px;
}



.labelKpi {
  font-size: 12px;
}
