.containerLogin {
  background: #fff;

  padding: 20px;
  border-radius: 10px;
}

.formContainer {
  width: 500px;
}

.titleLogin {
  font-size: 26px;
}

.forgetPassword {
  font-size: 15px;
  color: #007832;
}

.msjCreateAccount {
  font-size: 14px;
}

.place {
  font-size: 16px;
  margin: 0;
}
