.containerLogin {
  background-color: #ffff;
  padding: 60px;
  border-radius: 10px;
}

.formContainer {
  width: 400px;
}

.titleLogin {
  font-size: 30px;
}

strong {
  color: #007832;
  font-size: 22px;
}

.forgetPassword {
  font-size: 15px;
  color: #007832;
}

.msjCreateAccount {
  font-size: 14px;
}
