.sidebar {
  position: fixed;

  width: 200px;
  height: 100%;
  background-color: #007832;

}

.main {
  display: flex;
  align-items: center;
  margin: 50px;
  color: #fff;

  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 700;
}

.NavbarOptions:hover {
  background: #f5f5f9;
  color: #007832;
}

/* Logo institucional */
.imgContainer {
  display: flex;
  gap: 5px;
}

/* Separadores */
hr {
  width: 90%;
  border: 1.5px solid rgb(186, 186, 186);
}