.sidebar {
  height: 100vh;

  background-color: #fff;
}

.main {
  display: flex;
  align-items: center;
  margin: 50px;
  color: #fff;

  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 700;
}

.NavbarOptions {
  margin-top: 10px;
}
.NavbarOptions:hover {
  background: #f5f5f9;
  color: #007832;
}

/* Logo institucional */
.imgContainer {
  display: flex;
  gap: 5px;
}


hr {
  width: 90%;
  border: 1.5px solid rgb(186, 186, 186);
}
.iconClass {
  background-color: #e6f4ea;
  padding: 10px;
  border-radius: 10px;
  color: #2e7d32;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.iconClass:hover {
  background-color: #c8e6c9;
  color: #1b5e20;
}
