.cardSelectlogin {
  padding: 10px 20px;
  border-radius: 10px;
  border-left: 5px solid #007832;
  cursor: pointer;
  transition: transform 0.1s ease-in;
  background: #e6f4ea;
  color: #2e7d32;
  width: 100%;
}

.cardSelectlogin:hover {
  transform: scale(1.04);
  background: #d7ebdd;
  color: #2e7d32;
}

.containerSelect {
  background-color: #ffff;
  border-radius: 20px;

  padding: 40px 30px;
}

.iconSelectLogin {
  font-size: 40px;
  font-weight: 800;
  color: #007832;
}
.titleSelectLogin {
  font-size: 27px;

  padding: 20px 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}
