
.NavbarOptions {
  display: flex;
  align-items: center;

  color: #4f4f4f;

  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;

  transition: transform 0.1s ease-in, background 0.1s ease-in;
}
.NavbarOptions:hover {
  background: #eaeaed;
  color: rgb(68, 68, 68);
  transform: scale(1.04);
}

.iconClass {
  color: #007832;
  font-size: 1tpx;
  font-weight: 500;
}
