a {
  font-weight: 500;
  font-size: 14px;
  margin-top: 25px;
}

.NavbarOptions {
  display: flex;
  align-items: center;

  color: #ffffff;

  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;

  transition: transform 0.1s ease-in, background 0.1s ease-in;
}
.NavbarOptions:hover {
  background: #f5f5f9;
  color: rgb(68, 68, 68);
  transform: scale(1.04);
}
