.ButtonDelete {
  color: red;
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 10px;
  padding: 8px 12px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.ButtonDelete:hover {
  background-color: #d62828;
  color: white;
  transform: scale(1.05) rotate(-2deg);
  cursor: pointer;
}

.DeleteAll {
  background-color: red;
  color: white;

  border-radius: 5px;
  padding: 8px 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.DeleteAll:hover {
  background-color: #d62828;
  transform: scale(1.05) rotate(-2deg);
  cursor: pointer;
}

/* Contenedor del diálogo */
.p-confirm-dialog {
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* Título del diálogo */
.p-confirm-dialog .p-dialog-header {
  font-size: 1.25rem;
  font-weight: 600;
  color: #d62828; /* rojo vibrante */
}

/* Mensaje del diálogo */
.p-confirm-dialog .p-confirm-dialog-message {
  font-size: 1rem;
  color: #333;
  margin-top: 0.5rem;
}

/* Ícono de advertencia */
.p-confirm-dialog .pi-exclamation-triangle {
  font-size: 1.5rem;
  color: #d62828;
  margin-right: 0.5rem;
}

/* Botón de aceptar */
.p-button-danger {
  background-color: #d62828;
  border-radius: 20px;
  border: none;
  color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.p-button-danger:hover {
  background-color: #b71c1c;

  transform: scale(1.05) rotate(-2deg);
  cursor: pointer;
}

/* Botón de cancelar */
.p-confirm-dialog .p-button:not(.p-button-danger) {
  background-color: #ffffff00;
  color: #333;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.p-confirm-dialog .p-button:not(.p-button-danger):hover {
  transform: scale(1.05) rotate(-2deg);
  cursor: pointer;
}

.btnCancelar {
  background-color: transparent;
  color: rgb(66, 66, 66);
}
