.p-datatable .p-datatable-thead > tr > th {
  background-color: #e6f4ea;
  color: #2e7d32;
  font-weight: 600;
  font-size: 13px;
  border-bottom: 2px solid #2e7d32;
  padding: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: #f8f9fa;
}
.p-datatable .p-datatable-tbody > tr:nth-child(odd) {
  background-color: #ffffff;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #e6f4ea;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.p-datatable .p-datatable-tbody td {
  color: #343a40;
  font-size: 13px;
  border: 1px solid #dee2e6;
  padding: 0.75rem;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: #d1e7dd;
}

.tableContainer,
.tableAprendices {
  width: 100%;
  max-width: 1150px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  height: 30px;
  min-width: 30px;
  border-radius: 20px;
  font-size: 13px;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #e6f4ea;
  color: #2e7d32;
  font-weight: bold;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  height: 24px;
  border-radius: 20px;
}
.p-paginator .p-dropdown {
  height: 2.2rem;
}

.btnGeneral {
  border-radius: 10px;
}

.btnActions {
  background: #e6f4ea;
  border: none;
  color: #2e7d32;
  border-radius: 10px;
  padding: 9px 10px;
  margin: 5px 10px;
  transition: transform 0.2s ease, color 0.2s ease;
}
.btnActions:hover {
  transform: scale(1.1) rotate(-3deg);
  color: #1f1f1f;
  cursor: pointer;
}

.containerButtonActions {
  padding: 4px 13px;
  border-radius: 5px;
  background-color: #ffffff;
}

.p-speeddial-button.p-button-success {
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.p-speeddial-action {
  background: linear-gradient(to right, #2e7d32, #66b98a);
  color: #ffffff;
  transition: transform 0.2s ease;
}
.p-speeddial-action:hover {
  background: linear-gradient(to right, #2e7d32, #66b98a);
  color: #ffffff;
}

.my-custom-row {
  font-size: 13px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}
.fw-bold {
  font-weight: 600;
}
ol,
ul {
  padding-left: 0rem;
  font-size: 13px;
}

.btnVisitantesActivos {
  border: none;
  padding: 12px 18px;
  font-weight: 600;
  border-radius: 12px;
  font-size: 15px;
  background: #e6f4ea;
  color: #2e7d32;

  transition: transform 0.2s ease-in;
}
.btnVisitantesActivos:hover {
  transform: scale(1.01);
  background: #d2edda;
  color: #2e7d32;
}
