.containerCard {
  border-radius: 8px;

  background-color: #ffffff;
}

.hour {
  font-size: 22px;
}

.titleDash {
  font-size: 16px;
  color: #007832;
}

.hourIcon {
  color: #007832;
  font-size: 18px;
}

.btnSalidaEntrada {
  background-color: #007832;
  transition: transform 0.1s ease-in;
  border: none;
}

.btnSalidaEntrada:hover {
  background-color: #029b42;
  cursor: pointer;

  transform: scale(1.04);
}

.iconbtnSalidaEntrada {
  color: white;
}
.nameAdmin {
  font-size: 13px;
}
.labelBtnOutAndSign {
  color: white;
}

.iconRegistros {
  color: #007832;
}
.btnRegistros {
  background-color: #007832;
  border-radius: 10px;
  border: none;
  color: #ffffff;
}
