.containerCard {
  border-radius: 8px;

  background-color: #ffffff;
}

.hour {
  font-size: 22px;
}

.titleDash {
  font-size: 16px;
  color: #007832;
}

.hourIcon {
  color: #007832;
  font-size: 18px;
}

.btnSalidaEntrada {
  background-color: #ffffff;
  border: 1px solid #007832;
  transition: transform 0.1s ease-in;

}

.btnSalidaEntrada i {
  color: #007832;
}



.btnSalidaEntrada:hover {
  background-color: #029b42;
  cursor: pointer;

  transform: scale(1.04);
}

.iconbtnSalidaEntrada {
  color: rgb(255, 25, 25);
}

.nameAdmin {
  font-size: 13px;
}

.labelBtnOutAndSign {
  color: white;
}

.iconRegistros {
  color: #007832;
}

.btnRegistros {
  background-color: #007832;
  border-radius: 10px;
  border: none;
  color: #ffffff;
}

